
@{
    ViewBag.Title = "ExamPage";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<body class="bg-light">

    <div class="row py-2 my-3 mx-2 border border-dark rounded-2 shadow"
         id="mainScreen"
         style="opacity: 1; height: 95vh">
        <div class="row col-5 px-3 border-right border-dark">
            <div class="col-4">
                <h3 class="text-center">Kişiler</h3>
                <hr />
                <div class="border-dark border-right scrollbar-deep-purple bordered-deep-purple thin"
                     style="overflow-y: scroll; height: 85vh">
                    <div class="my-1 p-2">
                        <div class="person my-1 p-2">
                        Lorem, ipsum.</div>
                        <div class="person my-1 p-2">
                        Quaerat, repudiandae.</div>
                        <div class="person my-1 p-2">
                        Iusto, ipsum.</div>
                        <div class="person my-1 p-2">
                        Autem, culpa.</div>
                        <div class="person my-1 p-2">
                        Aspernatur, eligendi.</div>
                        <div class="person my-1 p-2">
                        Distinctio, placeat.</div>
                        <div class="person my-1 p-2">
                        Ducimus, officia!</div>
                        <div class="person my-1 p-2">
                        Adipisci, fugiat.</div>
                        <div class="person my-1 p-2">
                        Suscipit, libero?</div>
                        <div class="person my-1 p-2">
                        Accusantium, optio.</div>
                        <div class="person my-1 p-2">
                        Harum, eaque!</div>
                        <div class="person my-1 p-2">
                        Ad, nobis?</div>
                        <div class="person my-1 p-2">
                        Cumque, maiores.</div>
                        <div class="person my-1 p-2">
                        Odit, quibusdam?</div>
                        <div class="person my-1 p-2">
                        Fugiat, corrupti!</div>
                        <div class="person my-1 p-2">
                        Ipsam, nemo.</div>
                        <div class="person my-1 p-2">
                        Eos, dolore.</div>
                        <div class="person my-1 p-2">
                        Tempora, fugit.</div>
                        <div class="person my-1 p-2">
                        Suscipit, itaque?</div>
                        <div class="person my-1 p-2">
                        Quasi, nulla?</div>
                    </div>
                </div>
                <!-- kişiler -->
            </div>
            <div class="col-8">
                <h3 class="text-center">Chat</h3>
                <hr />
                <div class="scrollbar-deep-purple bordered-deep-purple thin"
                     style="overflow-y: scroll; height: 85vh">
                   
                </div>
            </div>
            <!-- chat -->
        </div>
        <div class="col-7">
            <h3 class="text-center">Sınav Ekranı</h3>
            <hr />
            <div class="px-3 scrollbar-deep-purple bordered-deep-purple thin"
                 style="overflow-y: scroll; max-height: 85vh">
               
            </div>
            <!-- sınav/gözetmen -->
        </div>
    </div>
</body>