@{ 
    ViewBag.Title = "E-Proctoring - Exam"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<body id="body-exam" oncontextmenu="return false" class="bg-light preload" style="height: 100%">
    <div class="row py-2 mb-auto mt-1 mx-2 border border-dark rounded-2 shadow"
         id="mainScreen">
        <div class="row col-4 px-3 border-right border-dark">
            <!--<div class="col-4 h-auto">
        <h3 class="text-center">Kişiler</h3><br />
        <hr />
        <div class="border-dark border-right scrollbar-deep-purple bordered-deep-purple thin"
             style="overflow-y: scroll; height: 90vh">
        </div>-->
            <!-- kişiler -->
            <!--</div>-->
            <div>
                <h3 class="text-center">Chat / <button id="fileButton" class="textButton">Send Image</button></h3>
                <hr />
                <div class="scrollbar-deep-purple bordered-deep-purple thin"
                     style="overflow-y: scroll; height: 80vh"
                     id="messagesContainer">
                    <div class="container">
                        <div class="chat-group" id="chat-message-group">
                            <!-- CHAT -->
                        </div>
                    </div>
                </div>
                <div id="input-group" class="input-group mt-2">
                    <textarea id="textareaMessage"
                              class="form-control h-auto pb-1"
                              rows="2"
                              style="overflow: hidden; resize: none"></textarea>
                    <span class="input-group-btn">
                        <button class="btnChat btn btn-secondary ms-2 h-100"
                                type="button"
                                id="sendMessage"
                                onclick="sendMessage();">
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h3 id="nameRoom" class="text-center">Sınav Ekranı</h3>
            <div id="divRoom" oncontextmenu="return false" style="top:5%; left:35%;">
                <div id="rules">
                    <img src="~/Images/webcam-setup-2.png" style="width:500px; height:250px;" /> <button id="toggleVoice" style="visibility:hidden; display:none;"></button><br />
                    <strong> Rules </strong>
                    <ol>
                        <li>Get in an exam position before entering the room.</li>
                        <li>Keep your face in front of the webcam.</li>
                        <li>Do not play with the angle of the webcam after entering the room.</li>
                        <li>Do not leave the full screen until the exam is over.</li>
                    </ol>
                </div>
                <span>
                    <textarea id="roomID"
                              cols="20"
                              rows="1"
                              tabindex="1"
                              style="overflow: hidden; resize: none;"
                              oninput="this.value = this.value.toLowerCase()"
                              placeholder="Room Name" autofocus></textarea>
                    <textarea id="roomPassword"
                              cols="20"
                              rows="1"
                              tabindex="2"
                              style="overflow: hidden; resize: none"
                              placeholder="Room Password"></textarea>
                    <button id="btnRoom" class="btn btn-sm" onclick="joinRoom();" tabindex="3">
                        Join Room
                    </button>
                    <button id="btnLeave" onclick="leaveRoom();">
                        <i class="far fa-times-circle fa-2x"></i>
                    </button>

                </span>
                <div><small id="roomStatus" class="text-center"></small></div>
            </div>
            <div class="px-3 scrollbar-deep-purple bordered-deep-purple thin"
                 id="examScreen"
                 style="height:90vh; margin-top:50px; overflow-x:scroll; overflow-y:scroll;">
                <img src="~/Images/exam.png" />
                <div id="localCamera"></div>
            </div>
        </div>
        <!-- sınav/gözetmen -->
        <video id="video" style="visibility:hidden; display:none;" autoplay></video>
        <canvas id="canvas" style="visibility: hidden; display: none;"></canvas>
        <div class="chat-group" id="image-message-group" style="visibility: hidden; display: none;">
            <!-- Image -->
        </div>
    </div>
</body>