
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<body class="bg-light" style="height: 100%;">

    <div class="row py-2 mb-auto mt-1 mx-2 border border-dark rounded-2 shadow"
         id="mainScreen"
         style="opacity: 1; height: 100%;">
        <div class="row col-5 px-3 border-right border-dark">
            <div class="col-4 h-auto">
                <h3 class="text-center">Kişiler</h3>
                <hr />
                <div class="border-dark border-right scrollbar-deep-purple bordered-deep-purple thin"
                     style="overflow-y: scroll; height: 90vh">
                    <div class="m-auto">
                        <div class="person my-1 p-2">
                            Lorem, ipsum.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Quaerat, repudiandae.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Iusto, ipsum.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Autem, culpa.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Aspernatur, eligendi.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Distinctio, placeat.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Ducimus, officia!
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Adipisci, fugiat.
                            <small class="blockquote- my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Suscipit, libero?
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Accusantium, optio.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Harum, eaque!
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Ad, nobis?
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Cumque, maiores.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Odit, quibusdam?
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Fugiat, corrupti!
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Ipsam, nemo.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Eos, dolore.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Tempora, fugit.
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Suscipit, itaque?
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                        <div class="person my-1 p-2">
                            Quasi, nulla?
                            <small class="blockquote-footer my-auto d-block">1234567890</small>
                        </div>
                    </div>
                </div>
                <!-- kişiler -->
            </div>
            <div class="col-8">
                <h3 class="text-center">Chat</h3>
                <hr />
                <div class="scrollbar-deep-purple bordered-deep-purple thin"
                     style="overflow-y: scroll; height: 80vh">
                    <div class="container">
                        <div class="chat-group">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-left">Lorem, ipsum.</h6>
                                    <p class="card-text float-left">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam aliquid perspiciatis modi veritatis sit odio fugit exercitationem consectetur omnis id?
                                        <small class="float-end mt-2">00:00</small>
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-left">Lorem, ipsum.</h6>
                                    <p class="card-text float-left">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam aliquid perspiciatis modi veritatis sit odio fugit exercitationem consectetur omnis id?
                                        <small class="float-end mt-2">00:00</small>
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-left">Lorem, ipsum.</h6>
                                    <p class="card-text float-left">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam aliquid perspiciatis modi veritatis sit odio fugit exercitationem consectetur omnis id?
                                        <small class="float-end mt-2">00:00</small>
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-left">Lorem, ipsum.</h6>
                                    <p class="card-text float-left">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam aliquid perspiciatis modi veritatis sit odio fugit exercitationem consectetur omnis id?
                                        <small class="float-end mt-2">00:00</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group mt-2" style="height:8vh">
                    <textarea id="input-box" class="form-control h-auto pb-1" rows="2"></textarea>
                    <span class="input-group-btn">
                        <button class="btnChat btn btn-secondary ms-2 h-100" type="button"><i class="far fa-paper-plane"></i></button>
                    </span>
                </div>
                <!-- chat -->
            </div>
        </div>
        <div class="col-7">
            <h3 class="text-center">Gözetmen Ekranı</h3>
            <hr />
            <div class="px-3 scrollbar-deep-purple bordered-deep-purple thin"
                 style="overflow-y: scroll; max-height: 85vh">
            </div>
            <!-- sınav/gözetmen -->
        </div>
    </div>
</body>

