
@{
    ViewBag.Title = "test";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exam Proctoring</title>
</head>
<body>
    <img src="~/Images/exam.png"/>
</body>
</html>
